<div class="container">
  <div class="row-custom">
    <div class="col-custom">
      <app-clock [canvasId]="clockConfig.hour[0].id" [showNum]="clockConfig.hour[0].num"></app-clock>
    </div>
    <div class="col-custom">
      <app-clock [canvasId]="clockConfig.hour[1].id" [showNum]="clockConfig.hour[1].num"></app-clock>

    </div>
    <div class="col-custom">
      <div id="hour-point" style="height: 400px"></div>
    </div>
    <div class="col-custom">
      <app-clock [canvasId]="clockConfig.minute[0].id" [showNum]="clockConfig.minute[0].num"></app-clock>

    </div>
    <div class="col-custom">
      <app-clock [canvasId]="clockConfig.minute[1].id" [showNum]="clockConfig.minute[1].num"></app-clock>
    </div>
    <div class="col-custom">
      <div id="minute-point" style="height: 400px"></div>
    </div>
    <div class="col-custom">
      <app-clock [canvasId]="clockConfig.second[0].id" [showNum]="clockConfig.second[0].num"></app-clock>

    </div>

    <div class="col-custom">
      <app-clock [canvasId]="clockConfig.second[1].id" [showNum]="clockConfig.second[1].num"></app-clock>

    </div>

  </div>
</div>
