<div class="jumbotron">
  <h1 class="display-4">Hello, Canvas!</h1>
  <p class="lead">本站点所有动画，都是作者基于Canvas 绘制,供大家学习前端参考</p>
  <hr class="my-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/img/sd.jpg" alt="Card image cap">
       
      </div>
    </div>
    <div class="col-md-6">
      <div style="height: 130px"></div>
      <p>继承，是幸福的延续；
      </p>
      <p>重载，是幸福的重生。</p>
      <a class="btn btn-primary btn-lg" href="https://github.com/HuangYuanHuang/animationApp" target="_blank" role="button">源码地址</a>
    </div>
  </div>

</div>